* {
    width: 100%;
    padding: 0;
    margin: 0;
}

.main {
    background-image: url("./assets/backgrounds/Firstbcg.jpg");
    background-position: 100% center;
    height: 100vh;
    background-size: cover;
}

#initial {
    text-align: center;
    color: white;
    padding-top: 15rem;
}

#logo {
    width: 8%;
    line-height: 2rem;
}

h1 {
    color: white;
    line-height: 5rem;
}