* {
    width: 100%;
    padding: 0;
    margin: 0;
}

.main {
    background-image: url("./assets/backgrounds/Firstbcg.jpg");
    background-position: 100% center;
    height: 100vh;
    background-size: cover;
}

#initial {
    text-align: center;
    color: white;
    padding-top: 15rem;
}

#logo {
    width: 8%;
    line-height: 2rem;
}

.about {
    height: 40vh;
}

h1 {
    color: white;
    line-height: 5rem;
}

#mouse {
    width: 1.5%;
    padding-top: 12rem;
}

.about {
    text-align: center;
}

h2 {
    padding-top: 2rem;
}

.about p {
    padding-top: 1.5rem;
}

.services {
    background-image: url("./assets/backgrounds/3rdbcg.jpg");
    background-position: 100% center;
    height: 40vh;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 8rem;
}

.services p {
    padding-top: 1.5rem;
    text-shadow: 0 0 5px black;
}

.design {
    text-align: center;
    position: relative;
}

#design {
    width: 10%;
}

.design p {
    position: absolute;
    top: 0;
}

strong {
    line-height: 3rem;
}

.display {
    display: none;
}