* {
    width: 100%;
    padding: 0;
    margin: 0;
}

.main {
    background-image: url("./assets/backgrounds/Firstbcg.jpg");
    background-position: 100% center;
    height: 100vh;
    background-size: cover;
}

#initial {
    text-align: center;
    color: white;
    padding-top: 15rem;
}

#logo {
    width: 8%;
    line-height: 2rem;
}

.about {
    height: 40vh;
}

h1 {
    color: white;
    line-height: 5rem;
}

#mouse {
    width: 1.5%;
    padding-top: 12rem;
}

.about {
    text-align: center;
}

h2 {
    padding-top: 2rem;
}

.about p {
    padding-top: 1.5rem;
}


/*services*/

.services {
    background-image: url("./assets/backgrounds/3rdbcg.jpg");
    background-position: 100% center;
    height: 40vh;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 4rem;
}

.services p {
    padding-top: 1.5rem;
    text-shadow: 0 0 5px black;
}


/*what we do*/

.we_do {
    height: 40vh;
    text-align: center;
}

.dos {
    display: flex;
    justify-content: space-between;
}

.design {
    text-align: center;
    position: relative;
    padding-top: 1.5rem;
}

#design {
    width: 10%;
}

.show {
    display: none;
}

.pop {
    position: absolute;
    top: 0;
    display: none;
}

strong {
    line-height: 3rem;
}

.display {
    display: block;
}

h4 {
    font-size: 16px;
}


/*portfolio*/

.portfolio {
    padding-top: 1rem;
    position: relative;
}

.row {
    padding-bottom: 2rem;
}

.desc {
    color: white !important;
    font-size: 26px;
    font-weight: bold;
    padding-top: 1rem;
    border: 3px solid white;
    position: absolute;
    top: 2.5rem;
    bottom: 0;
    padding-left: 0.5rem;
    width: 20%;
    margin-left: 1.4rem;
    height: 22vh;
    opacity: 0;
    transition: all ease-in-out 250ms
}

.desc:hover {
    opacity: 2;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}


/*form*/

.form {
    background-image: url("./assets/backgrounds/2ndbcg.jpg");
    background-position: 100% center;
    height: 80vh;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 4rem;
}

.form h3 {
    padding-bottom: 2rem;
}

input {
    width: 40%;
    padding-left: 4rem;
}

.txt-area {
    margin: 10px auto;
    width: 65% !important;
    height: 40vh !important;
}

.col-6 {
    width: 40%;
}

.col-6:first-child {
    padding-left: 10rem;
}

 ::placeholder {
    color: white !important;
    opacity: .7 !important;
}

#submit {
    background: transparent;
    border: 1px solid white;
    width: 20%;
}


/*socials*/

.socials {
    width: 70%;
    padding: 2rem;
    padding-left: 24rem;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
    padding: 0 5px;
}


/*footer*/

.footer {
    text-align: center;
    font-size: 12px;
}